body{
   margin: 0; padding: 0;
}

h1{

    color: darkblue;
    text-align: center;
    font-family:华文行楷;
}
h2{
    font-family: 华文彩云;
}

div a{
    display:block;
    display: table;
    position: relative;
    margin: auto;
    width: 20%;
    height: 3%;
    text-align: center;
    font-family: bold;;
    color:black;
    text-decoration: deepskyblue;
    font-weight:bold;
    border-width: 5px;
    border-color: peachpuff;
    border-color: rgb(243, 238, 238);
    border-style:ridge;
    background-color: rgba(117, 61, 35, 0.021);
    font-size: 20px;
    border-radius: 20px;
    font-family: 楷体;
}
/* 鼠标悬浮颜色 */
a:hover{
    color: gold;
}
/* 鼠标按住颜色 */
a:active{
    color: rgba(8, 81, 238, 0.493);
}
.home{
    display: inline;
    white-space: nowrap;
    
}
#baidu{
    color: brown;
    height: 30px;
    border-radius: 10px;
}
.content {
    color: #ffffff;
    font-size: 40px;
}
/* .bd{
    border: 1px solid rgba(231, 171, 171, 0.747);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    float: inline-start;
} */
/* 居中控件 */
.bk{
    display:inline-block;
    display: table;
    position: relative;
    margin: auto;
    width: 50%;
    border: 5px solid;
    display: grid;
    position: relative;
    text-align: end;
    margin-top: 90px;
    border-radius: 50px;
    background-repeat: no-repeat;
}
.nav{
    display: inline-block;
    display: grid;
    border: 5px solid;
    border-radius: 35px;
    position: relative;
    margin: auto;
    width: 155px;
    background-color: bisque;
    position:absolute;
    top: 90px;

}
.nav span{
    text-align: center;
}
#riqi{
    position: relative;
    right: -10%;
    
}